<% unless @users.empty? %>
  <table class="data user-table">
     <tbody>
      <tr> 
         <th class="list-title">following</th>
         <th></th>
         <th class="num">posts</th>
         <th class="num">hearts</th>
         <th class="num">following</th>
         <th class="num">followers</th>
         <th></th>
      </tr>
      <% for user in @users %>
         <%= render :partial=> 'shared/table_user', :locals => { :table_user => user }  %>
      <% end %>
     </tbody>
     
  </table>   
  <%= will_paginate @users %>
  
<% end %>