.container
  .content
    - flash.each do |key, value|
      .alert-message.fade.in{:"data-alert"=>"alert", :class=> key}
        %a.close{:href=>"#"} ×                                
        %p
          = value   
      - flash.delete(key)
    .row 
      .span12
        - unless @user.posts.empty?
          %ul.media-grid
            - for post in @posts
              = render post
          = paginate @posts
      .span4
        .sidebar
          %h5 Sidebar
          %ul
            %li <a href="#">Link</a>
          %h5 Sidebar
          %ul
            %li <a href="#">Link</a>
    = render 'layouts/footer'

    