<div id = "wrapper">   
   <div id = "wrap-inner">
      <div id="content" class="group">
         <div id="main">
            <%= render 'follow_form' if signed_in? %>  
            <% unless @user.posts.empty? %>
             <div class="posts group" summary="User posts">
               <% @item_count = 0 %>
                 <% for post in @posts %>
                   <% @item_count = @item_count + 1 %>
                   <%= render post %>
                 <% end %>
             </div>
             <%= will_paginate @posts %>
           <% end %>
         </div>
         <div id="sidebar">
           
         </div>                  
      </div>
   </div> 
</div>