- if object.errors.any?
  - object.errors.full_messages.each do |msg|
    .alert-message.fade.in.error{:"data-alert"=>"alert"}
      %a.close{:href=>"#"} ×                                
      %p
        = msg
                          
                                                            