.container-fluid
  .sidebar
    .well
      %h5 Sidebar
      %ul
        %li <a href="#">Link</a>
      %h5 Sidebar
      %ul
        %li <a href="#">Link</a>
  .content   
    - unless signed_in?
      .hero-unit
        %h2 Welcome to the Open Palette Beta
        %p Vestibulum id ligula porta felis euismod semper. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
        %p
          = link_to "Sign up »", signup_path, :class=>"btn primary large"
                                                    
    .row 
      .span16
        - unless @feed_items.empty?
          %ul.media-grid
            - @item_count = 0
            - for feed_item in @feed_items
              - @item_count = @item_count + 1
              = render :partial => "shared/feed_item", :locals => { :feed_item => feed_item,:item_count => @item_count }
          = paginate @feed_items
    = render 'layouts/footer'