- unless @posts.empty?
  - if @title
    %h2 
      = @title
  %ul.media-grid
    - for post in @posts
      = render :partial => "shared/feed_item", :locals => { :feed_item => post}
  = paginate @posts    
- else
  %p No Posts!