- unless signed_in?
  .hero-unit
    %h2 Welcome to the Open Palette Beta
    %p Open Palette is a community for beauty bloggers to share their latest looks and inspirations. It is currently under active development.
    %p Join today!                                                                                                                                   
    %p
      = link_to "Sign up »", signup_path, :class=>"btn primary large"