%h5 Top Users
%ul.media-grid
  - User.popular.each do |u|
    %li 
      = link_to gravatar_for(u, :size => 48, :class => "thumbnail", :alt => u.name), user_path(u), :title=> "#{u.name} - #{pluralize(u.posts.count, 'post')}", :class=>"user"
