<% if signed_in? %>
<div id = "wrapper">
   <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
   <% end %>
   <div id = "wrap-inner">
      <div id="content" class="group">
         <div id="main">        
           <%= render 'shared/feed' %>
         </div>
         <div id="sidebar">           
         </div>                  
      </div>
   </div> 
</div>
 
<% else %>
  <h1>Open Palette</h1>

  <p>
     The beginning of Open Palette!
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>


