<% if (@item_count % 3) == 0 %>
<div class="post group third">
<% else %>
<div class="post group">
<% end %>   
 <span class="image"><a href = "<%= post_path(post) %>">
  <%= image_tag(post.image, :alt => post.title) %></a></span>
</div>

