<% if (@item_count % 3) == 0 %>
<div class="post group third">
<% else %>
<div class="post group">
<% end %>   
 <div id="image" class="group">
        
    <div id="image_details" class="round_bottom">
        <div class="left">              
              <span id="title"><%= link_to post.title, post_path(post) %></span>
        </div>
       <% if current_user && current_user.heart?(post) %>
       <span id="hearts" class="hearted right"><%= post.hearts.count %></span>
       <% else %>
       <span id="hearts" class="unhearted right"><%= post.hearts.count %></span>
       <% end %>
    </div>
    <%= link_to image_tag(post.image, :alt=> post.title),post_path(post)  %> 
    </a>
  </div>
</div>

