<% if (@item_count % 3) == 0 %>
<div class="post group third">
<% else %>
<div class="post group">
<% end %>  
 <span class="image"><%= image_tag(micropost.image, :alt => "image", :class => "round") %></span>
</div>

