body, html {
  background: url("/assets/tile.gif") repeat scroll 0 0 white;
}
body {
    padding-top: 60px;
}
.divider {
  margin: 5px 0px 5px 0px;
  border-bottom: 1px solid #DDD;
}

.container-fluid > .content {
  float: none;
  margin-left: 240px;
}

.content {
  .media-grid {
    a img {
      max-width: 210px;
    }
    a {
      background-color: white;
      width: 210px;
      height: 210px;
    }
  }
  img {
    max-width: 700px;
  }
}                                  
.brand { font-family: 'Pacifico', cursive; font-weight: 400; }

.sidebar {
  h5 {
     border-bottom: 1px solid #DDD;
     margin: 0px 0px 10px 0px;
  }
}

ol.popular-tags {      
  li {
      float: left;
      font-size: 11px;
      line-height: 1;
      margin: 0; 
      list-style-type: none;
      a {
          background:rgba(0, 0, 0, 0.07);
          border: 1px solid #CCCCCC;
          border-radius: 4px 4px 4px 4px;
          color: #777777;
          float: left;
          font-weight: normal;
          margin: 0 6px 6px 0;
          padding: 3px 6px 4px;
          text-decoration: none;
          white-space: nowrap;
          strong {
              font-weight: normal;
          }
      }
      a:hover {
          background-color: rgba(0, 0, 0, 0.1);
          border-color: #BBBBBB;
          color: #555555;
          text-decoration: none;
      }
      span.perc {
          display: none;
      }
      em {
          display: none;
      }
  }    
  li:hover {
      background: none repeat scroll 0 0 transparent;
  }
}      

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }