body, html {
  background: url("/assets/stucco.png") repeat scroll 0 0 white;
}
body {
    padding-top: 60px;
}
.divider {
  margin: 5px 0px 5px 0px;
  border-bottom: 1px solid #DDD;
}

.container-fluid > .content {
  float: none;
  margin-left: 240px;
}

.content {
  .media-grid a img {
    max-width: 210px;
  }
}  

.brand { font-family: 'Pacifico', cursive; font-weight: 400; }

